body {
  height: 100vh;
}

.board {
  display: flex;
  flex-direction: column;
}

.row {
  height: 200px;
  width: 600px;
  display: flex;
  margin: auto;
  background: gainsboro;
}

.row:nth-child(-n+2) {
  border-bottom: 5px solid tomato;
}

.block {
  height: 100%;
  width: 200px;
}

.block:nth-child(-n+2) {
  border-right: 5px solid tomato;
}